<div class="trans-wrap">
  <div class="item">
    <div class="header">
      <span>Comida Dennys</span>
      <span>1000</span>
    </div>
    <div class="footer">
      <small>Salario</small>
      <small>07 / 10 /2023 </small>
    </div>
  </div>

  <div class="item">
    <div class="header">
      <span>Comida Dennys</span>
      <span>1000</span>
    </div>
    <div class="footer">
      <small>Salario</small>
      <small>07 / 10 /2023 </small>
    </div>
  </div>

  <div class="item">
    <div class="header">
      <span>Comida Dennys</span>
      <span>1000</span>
    </div>
    <div class="footer">
      <small>Salario</small>
      <small>07 / 10 /2023 </small>
    </div>
  </div>


</div>
