<div class="resumen-wrap">
  <h3>Resumen</h3>
  <div class="row1">
    <span style="color:green">Income:</span>
    <span style="color:green">{{income | currency:"USD"}}</span>
  </div>

  <div class="row2">
    <span style="color: red;">Expenses:</span>
    <span style="color: red">{{expenses | currency:"USD"}}</span>
  </div>

  <hr style="background-color:black">

  <div class="row3">
    <span style="color:green">Total:</span>
    <span style="color:green">{{income | currency:"USD"}}</span>
  </div>

</div>
