h3{
  text-align: center;
}

hr {
  color: black;
  height: 1px;
  width: 100%;
}

.cuentas-wrap{
  width: 95%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
}

.row1, .row2 , .row3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:8px;
}
